<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>{{ article[1] }}</title>
    <link rel="stylesheet" href="../static/css/github-markdown.css" type="text/css"/>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
</head>
<style>
    .markdown-body {
        box-sizing: border-box;
        min-width: 200px;
        max-width: 980px;
        margin: 0 auto;
        padding: 45px;
    }

    body {
        background-color: #f5f5d5
    }
</style>
<script>
    function addToFav(id) {
        $.ajax({
            type: "put",
            url: "http://localhost:5000/article/addToFav/" + id,
            success: function () {
                alert("success")
            }
        })
    }
    function removeFromFav(id) {
        $.ajax({
            type: "put",
            url: "http://localhost:5000/article/removeFromFav/" + id,
            success: function () {
                alert("success")
            }
        })
    }
</script>
<body>

<article class="markdown-body">
    <button onclick="addToFav({{ article[0] }})" type="button">加入收藏</button>
    <button onclick="removeFromFav({{ article[0] }})" type="button" class="btn btn-info btn-sm">移出收藏</button>
    {{ article[4]|safe }}
</article>
</body>
</html>